<!--
/**
 * This file is part of Magestore POS Open Source.
 *
 * Magestore POS Open Source is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Magestore POS Open Source is distributed in the hope that it will
 * be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with Magestore POS Open Source. If not, see <https://www.gnu.org/licenses/>
 */
-->
<?php
$specificInfo = $block->getSpecificInformation();
?>
<dl class="payment-method">
    <?php if ($specificInfo):?>
        <dd class="content">
            <table class="data table">
                <?php foreach ($specificInfo as $item):?>
                    <tr>
                        <th scope="row"><?= $block->escapeHtml($item['label']) ?></th>
                        <td>
                            <?= /* @noEscape */ $item['value'] ?>
                        </td>
                    </tr>
                    <?php if (isset($item['reference_number']) && $item['reference_number']):?>
                        <tr>
                            <th style="padding-left: 10px; font-size: 12px">
                                <i><?= $block->escapeHtml(__('Reference No'))?></i>
                            </th>
                            <td><?= /* @noEscape */ $item['reference_number'] ?></td>
                        </tr>
                    <?php endif; ?>
                <?php endforeach; ?>
            </table>
        </dd>
    <?php endif;?>
</dl>
<?= $block->getChildHtml() ?>
